<% if logged_in?(:site_admin) %>
  <!-- Start of admin-nav -->
  <ul class="nav admin-nav breadcrumb justify-content-start">
  	<li class="nav-item">
  		<%= status_admin_action(blog) if logged_in?(:site_admin) %>
  	</li>
  	<li class="nav-item">
  		<%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog), class: "nav-link", title: "Edit Post" if logged_in?(:site_admin) %>
  	</li>
  	<li class="nav-item">
  		<%= link_to fa_icon('trash-o'), blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "nav-link", title: "Delete Post" if logged_in?(:site_admin) %>
  	</li>
  </ul>
  <!--/ End of admin-nav -->
<% end %>