<!-- Start of blog form -->
<%= form_for(blog) do |f| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= alert_generator(error, "Error") %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, class: "form-control", placeholder: "Enter a Title..." %>
  </div>

  <div class="form-group">
    <%= f.label :topic_id %>
    <%= f.collection_select(:topic_id, @topics, :id, :title, 
                              {
                                selected: blog.topic_id,
                                include_blank: true
                              },
                              class: "form-control custom-select"
                            ) 
    %>
  </div>

  <div class="form-group">
    <%= f.text_area :body, class: "form-control", rows: "15", placeholder: "Enter Content..." %>
  </div>

  <div class="form-group">
    <label class="custom-control custom-radio">
      <%= f.radio_button(:status, "draft",
                          {
                            class: "custom-control-input"
                          }
                        )
      %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Draft</span>
    </label>
    <label class="custom-control custom-radio">
      <%= f.radio_button(:status, "published",
                          {
                            class: "custom-control-input"
                          }
                        )
      %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Published</span>
    </label>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
<!--/ End of blog form -->