<!-- Start of blog-main -->
<div class="col-sm-8 blog-main">
  <!-- Start of breadcrumb -->
  <nav class="breadcrumb">
    <%= link_to "Home", root_path, class: "breadcrumb-item" %>
    <%= link_to @blog.topic.title, topic_path(@blog.topic), class: "breadcrumb-item" %>
    <span class="breadcrumb-item active"><%= @blog.title %></span>

    <%  if logged_in?(:site_admin) %>
    <!-- Start of dropdown -->
    <div class="dropdown pull-right show">
      <a class="btn btn-default" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Actions">
        <%= fa_icon('ellipsis-v') %>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to fa_icon('pencil-square-o') + " Edit", edit_blog_path(@blog), class: "dropdown-item text-center" if logged_in?(:site_admin) %>
        <%= link_to fa_icon('trash-o') + " Delete", @blog, data: { confirm: 'Are you sure you want to delete this post?' }, class: "dropdown-item text-center" if logged_in?(:site_admin) %>
      </div>
    </div>
    <!--/ End of dropdown -->
    <% end %>
  </nav>
  <!--/ End of breadcrumb -->

  <h2><%= @blog.title %></h2>
  <p>
    <%= markdown @blog.body %>
  </p>

  <!-- Start of comment form -->
  <%= render 'comments/comment_form' %>
  <!--/ End of comment form -->

  <!-- Start of comments -->
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
  <!--/ End of comments -->

</div>
<!--/ End of blog-main -->
