<div class="card">

  <div class="card-block">

    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">

        <div class="col-md-6">

          <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, class: "form-control", autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control" %>
          </div>

        </div>

        <div class="col-md-6">

          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>

        </div>

        <div class="col-md-9"></div>

        <div class="col-md-3">

          <div class="form-group">
            <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
          </div>

        </div>

        <div class="col-md-9"></div>

        <div class="col-md-3">

          <div class="auth-links register-text">
            <%= render "devise/shared/links" %>
          </div>

        </div>

      </div>

    <% end %>

  </div>

</div>
