<div class="comment-card mb-3">
	<!-- Start of card -->
	<div class="card">
		<!-- Start of card-block -->
		<div class="card-block">
			
			<div class="row">
				<div class="col-md-1">
					<%= gravatar_helper(comment.user) %>
				</div>
				<div class="col-md-11">
					<div>
						<%= comment.content %>	
					</div>
					<div class="comment-meta">
						<small><em>Comment posted by <span class="comment-name"><%= comment.user.name %></span> <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</em></small>
					</div>
				</div>
			</div>

		</div>
		<!--/ End of card-block -->
	</div>
	<!--/ End of card -->
</div>