<% unless current_user.is_a?(GuestUser) %>
	<hr>

	<h3>Comments</h3>
	<%= form_for @comment, url: '#' do |f| %>
		<div class="form-group">
			<%= f.label :content %>
			<%= f.text_area :content, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= f.submit "Post Comment", class: "btn btn-primary" %>
		</div>
	<% end %>
<% end %>