<!-- Start of topic item -->
<div class="col-md-6 mb-4 topic-item">
	<!-- Start of card -->
	<div class="card card-outline-primary">
		<!-- Start of card-block -->
		<div class="card-block">
			
			<div class="row">
				<div class="col-md-8">
					<h4 class="card-title"><%= topic.title %></h4>
				</div>
				<div class="col-md-4 text-right">
					<%= link_to "View", topic_path(topic), class: "btn btn-primary" %>
				</div>
			</div>

		</div>
		<!--/ Enf of card-block -->
	</div>
	<!--/ End of card -->
</div>
<!--/ End of topic item -->