<!-- Start of blog-main -->
<div class="col-sm-8 blog-main">

  <h1>Topics</h1>

  <!-- Start of topics -->
  <div class="topics row">
  	<%= render @topics %>
  </div>
  <!--/ End of topics -->

</div>
<!--/ End of blog-main -->
