<!-- Start of blog-main -->
<div class="col-sm-8 blog-main">

	<h1><%= @topic.title %></h1>

	<%= paginate @blogs %>

	<%= render @blogs %>

	<%= paginate @blogs %>

</div>
<!--/ End of blog-main -->
