<!-- Start of portfolio-form -->
<%= form_for(portfolio_item) do |f| %>
  <% if portfolio_item.errors.any? %>
    <% portfolio_item.errors.full_messages.each do |error| %>
      <%= alert_generator(error, "Error") %>
    <% end %>
  <% end %>

  <div class="row">

    <div class="col-md-6">

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.file_field :main_image, style: "display:none", class: "file" %>
        <div class="input-group col-xs-12">
          <span class="input-group-addon">
            <%= fa_icon('picture-o') %>
          </span>
          <input type="text" class="form-control input-lg" disabled placeholder="Upload a main image file">
          <span class="input-group-btn">
            <button class="browse btn btn-primary input-lg" type="button">
              <%= fa_icon('search') %>
              Browse
            </button>
          </span>
        </div>
      </div>

      <div class="form-group">
        <%= f.file_field :thumb_image, style: "display:none", class: "file" %>
        <div class="input-group col-xs-12">
          <span class="input-group-addon">
            <%= fa_icon('picture-o') %>
          </span>
          <input type="text" class="form-control input-lg" disabled placeholder="Upload a thumb image file">
          <span class="input-group-btn">
            <button class="browse btn btn-primary input-lg" type="button">
              <%= fa_icon('search') %>
              Browse
            </button>
          </span>
        </div>
      </div>

    </div>

    <div class="col-md-6">

      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control", rows: "10" %>
      </div>

    </div>

    <hr>

    <div class="col-md-12">

      <h3>Technologies Used</h3>      
      <div>
        <%= f.fields_for :technologies do |technology_form| %>
          <%= render "technology_fields", f: technology_form %>
        <% end %>
      </div>

      <div>
        <%= link_to_add_association fa_icon('plus-circle') + ' Add Technology', f, :technologies, class: "btn btn-primary mb-4" %>
      </div>

      <div class="form-group">
        <%= f.submit "Save Portfolio", class: "btn btn-primary btn-block" %>
      </div>

    </div>

  </div>
<% end %>
<!--/ End of portfolio-form -->