<div class="col-md-4">
	<!-- Start of portfolio-item -->
	<div class="card w-100" data-portfolio-id="<%= portfolio_item.id %>">
	  <%= image_tag portfolio_img(portfolio_item.thumb_image, "thumb"), width: '100%' %>
	  <p class="card-text">
	    <span><%= link_to portfolio_item.title, show_portfolio_path(portfolio_item) %></span>
	    <%= portfolio_item.subtitle %>
	  </p>
	</div>
	<!--/ End of portfolio-item -->
</div>