<!-- Start of nested-fields -->
<div class="form-group nested-fields">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control mb-1" %>
  <%= link_to_remove_association "Remove Technology", f %>
</div>
<!--/ End of nested-fields -->