<!-- Start of album -->
<div class="album text-muted">

  <!-- Start of container -->
  <div class="container">

  	<%= source_helper("alert alert-info") %>

    <div class="row <%= "sortable" if logged_in?(:site_admin) %>">

      <%= render partial: 'portfolio_item', collection: @portfolio_items %>

    </div>

  </div>
  <!--/ End of container -->

</div>
<!--/ End of album -->