<!-- Start of container -->
<div class="container mt-4">

	<div class="row">

		<div class="col-md-7">
			<%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), width: "100%" %>
		</div>

		<div class="col-md-5">
			<h2><%= @portfolio_item.title %></h2>

			<em><%= @portfolio_item.subtitle %></em>

			<p><%= @portfolio_item.body %></p>

			<% if !@portfolio_item.technologies.empty? %>
				<h3>Technologies used</h3>
				<% @portfolio_item.technologies.each do |t| %>
				<p><%= t.name %></p>
				<% end %>
			<% end %>

			<% if logged_in?(:site_admin) %>
				<%= link_to "Edit Item", edit_portfolio_path(@portfolio_item), class: "btn btn-warning" %>
			<% end %>
		</div>

	</div>

</div>
<!--/ End of container -->