<% if flash[:alert] %>
	<%= js add_gritter(flash[:alert], :title => "Alert") %>
<% elsif flash[:error] %>
	<%= js add_gritter(flash[:error], :title => "Error") %>
<% else %>
	<%= js add_gritter(flash[:notice], :title => "") %>
<% end %>