<div class="masthead clearfix">
  <!-- Start of inner -->
  <div class="inner">
    <h3 class="masthead-brand">Kelvin Checo</h3>
    <!-- Start of nav-masthead -->
    <nav class="nav nav-masthead">
      <%= nav_generator "nav-link" %>
      <%= login_helper "nav-link" %>
    </nav>
    <!--/ End of nav-masthead -->
  </div>
  <!--/ End of inner -->
</div>
