<div class="blog-header">
	<!-- Start of container -->
  <div class="container">
    <h1 class="blog-title">My Blog</h1>
    <p class="lead blog-description">An example blog template built with Bootstrap.</p>
    <%= link_to "Write a New Blog", new_blog_path if logged_in?(:site_admin) %>
  </div>
  <!--/ End of container -->
</div>
