<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary mb-5 blog-nav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Start of container -->
  <div class="container">
  	<%= link_to "Kelvin Checo", root_path, class: "navbar-brand" %>

	  <!-- Start of navbar-collapse -->
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	      <%= nav_generator "nav-link" %>
	      <%= login_helper "nav-link" %>
	    </ul>
	  </div>
	  <!--/ End of navbar-collapse -->
	</div>
	<!--/ End of container -->
</nav>
