<div class="col-sm-4 blog-sidebar">
  <!-- Start of sidebar-module -->
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>
  <!--/ End of sidebar-module -->

  <!-- Start of sidebar-module -->
  <div class="sidebar-module">
    <%= source_helper("alert alert-info") %>
  </div>
  <!--/ End of sidebar-module -->

  <!-- Start of sidebar-module -->
  <div class="sidebar-module">
    <h4>Topics</h4>

    <% if @side_bar_topics %>

      <ul class="list-group">
      <% @side_bar_topics.each do |topic| %>
        <a class="list-group-item list-group-item-action justify-content-between" href="<%= topic_path(topic) %>">
          <%= topic.title %>
          <% if logged_in?(:site_admin) %>
            <span class="badge badge-primary badge-pill"><%= topic.blogs.count %></span>
          <% else %>
            <span class="badge badge-primary badge-pill"><%= topic.blogs.published.count %></span>
          <% end %>
        </a>
      <% end %>
      </ul>

    <% end %>
  </div>
  <!--/ End of sidebar-module -->

  <!-- Start of sidebar-module -->
  <div class="sidebar-module">
    <h4>Social Media</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon "github" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
    </ol>
  </div>
  <!--/ End of sidebar-module -->
</div>
