<nav class="<%= location %>">
  <div><%= link_to "Home", root_path%></div>
  <div><%= link_to "About Me", about_path %></div>
  <div><%= link_to "Blog", blogs_path %></div>
  <div><%= link_to "Portfolio", portfolios_path %></div>
  <div><%= link_to "Contact Me", contact_path %></div>
</nav>
