<section class="jumbotron text-center">
	<!-- Start of container -->
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <%= link_to "Learn more about me", about_path, class: "btn btn-primary" %>
      <%= link_to "See My Blog", blogs_path, class: "btn btn-secondary" %>
    </p>
  </div>
  <!--/ End of container -->
</section>