<!-- Start of app-card-container -->
<div class="card app-card-container">
  <!-- Start of card-block -->
  <div class="card-block">
    <h1 class="display-3 mb-5">About Me</h1>

    <div class="row">

      <div class="col-md-4">
        <%= image_tag "http://placehold.it/300x300", alt: "Profile Image", width: '100%', class: "mb-4" %>

        <!-- Start of skills -->
        <div class="skills">
          <h5>Skills</h5>
          <% @skills.each do |skill| %>
            <!-- Start of skill-item -->
            <div class="skill-item">
              <small class="text-muted"><%= skill.title %></small>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%= skill.percent_utilized %>%" aria-valuenow="<%= skill.percent_utilized %>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <!--/ End of skill-item -->
          <% end %>
        </div>
        <!--/ End of skills -->
      </div>
      <div class="col-md-8">
        <!-- Start of about-content -->
        <div class="about-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia consequat est id bibendum.
            Nunc nec tincidunt ante. Ut aliquet placerat erat, sed malesuada ante gravida non. Nullam ultricies
            hendrerit metus nec blandit. Pellentesque cursus, lectus id vestibulum porta, ante tortor cursus magna,
            et mollis quam magna ut dolor. Quisque tristique mattis justo, eget maximus nunc blandit at. Etiam
            aliquet rhoncus neque vel ultrices. Aenean pharetra purus sem, et vestibulum ex venenatis imperdiet.
            Duis placerat quam non imperdiet consectetur.
          </p>
          <p>
            Integer non ipsum venenatis, gravida nibh ut, tincidunt
            nunc. Nullam dapibus cursus molestie. Nam sed elit risus. Ut dui dui, gravida id mauris ac, bibendum
            tempor augue. Fusce blandit enim vitae lacus faucibus mattis. Integer condimentum rutrum ex, nec
            convallis erat commodo consectetur.
          </p>
        </div>
        <!--/ End of about-content -->
        <!-- Start of resume-content -->
        <div class="resume-content">
          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#jobHistory" aria-expanded="false" aria-controls="jobHistory">Job History</a>
            <a class="btn btn-primary" data-toggle="collapse" href="#education" aria-expanded="false" aria-controls="education">Education</a>
          </p>
          <p>
            <div class="collapse" id="jobHistory">
              <div class="card card-block">
                Job 1
              </div>
              <div class="card card-block">
                Job 2
              </div>
              <div class="card card-block">
                Job 3
              </div>
            </div>
            <div class="collapse" id="education">
              <div class="card card-block">
                School 1
              </div>
            </div>
          </p>
        </div>
        <!--/ End of resume-content -->
      </div>

    </div>

  </div>
  <!--/ End of card-block -->
</div>
<!--/ End of app-card-container -->