<!-- Start of app-card-container -->
<div class="card app-card-container">
	<!-- Start of card-block -->
	<div class="card-block">
		<h1 class="display-3 mb-5">Let's work together</h1>

		<h3>Email</h3>
		<p><a href="mailto:checokelvin@gmail.com?subject=PortfolioContact">checokelvin@gmail.com</a></p>

		<h3>Phone</h3>
		<p><%= number_to_phone("5555555555", area_code: true) %></p>

	</div>
	<!--/ End of card-block -->
</div>
<!--/ End of app-card-container -->