<!-- Start of inner.cover -->
<div class="inner cover">

  <h1 class="cover-heading display-3">
    Welcome
  </h1>
  <p class="lead mb-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia consequat est id bibendum. Nunc nec tincidunt ante.
  </p>
  <p class="lead">
    <%= link_to "Learn More", about_path, class: "btn btn-lg btn-primary" %>
  </p>

</div>
<!--/ End of inner.cover -->