<!-- Start of inner.cover -->
<div class="inner cover">

  <h1 class="cover-heading display-3 mb-5">Rails News</h1>
  <div class="row">
  	
  	<% @tweets.each do |tweet| %>
  		<!-- Start of tech-news -->
  		<div class="tech-news col-md-6 mb-4">
  				
				<!-- Start of card -->
				<div class="card">
					<div class="card-block">
						<p class="card-text">
							<%= twitter_parser(tweet) %>
						</p>
					</div>
				</div>
				<!--/ End of card -->

  		</div>
  		<!--/ End of tech-news -->
  	<% end %>

  </div>

</div>
<!--/ End inner.cover -->