<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= favicon_link_tag 'favicon/favicon.ico' %>
    
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <!--/ Google fonts -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Start of site-wrapper -->
    <div class="site-wrapper">

      <!-- Start of site-wrapper-inner -->
      <div class="site-wrapper-inner">

        <!-- Start of cover-container -->
        <div class="cover-container">

          <div id="background"></div>

          <!-- Nav -->
          <%= render "shared/application_nav" %>
          <!--/ Nav End -->

          <%= yield %>

          <!-- Footer -->
          <%= render "shared/application_footer" %>
          <!--/ Footer End -->

          <%= alerts %>

        </div>
        <!--/ End of cover-container -->

      </div>
      <!--/ End of site-wrapper-inner -->

    </div>
    <!--/ End of site-wrapper -->
  </body>
</html>
