<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= favicon_link_tag 'favicon/favicon.ico' %>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <!--/ Google fonts -->
    
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Start of Nav -->
    <%= render "shared/blog_nav" %>
    <!--/ End of Nav -->

    <!-- Start of blog header -->
    <%= render "shared/blog_masthead" %>
    <!--/ End of blog header -->

    <!-- Start of blog container -->
    <div class="container">

      <!-- Start of blog row -->
      <div class="row pb-5">

        <%= yield %>

        <!-- Start of sidebar -->
        <%= render "shared/blog_sidebar" %>
        <!--/ End of sidebar -->

      </div>
      <!--/ End of blog row -->

      <!-- Start of footer -->
      <%= render "shared/blog_footer" %>
      <!--/ End of footer -->

      <%= alerts %>

    </div>
    <!--/ End of blog container -->

  </body>
</html>
