<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= favicon_link_tag 'favicon/favicon.ico' %>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <!--/ Google fonts -->
    
    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Start of navbar -->
    <%= render "shared/portfolio_nav" %>
    <!--/ End of navbar -->

    <!-- Start of masthead -->
    <%= render "shared/portfolio_masthead" unless logged_in?(:site_admin) %>
    <!--/ End of masthead -->

    <%= yield %>

    <!-- Start of footer -->
    <%= render "shared/portfolio_footer" %>
    <!--/ End of footer -->

    <%= alerts %>

    <%= source_helper("portfolio") %>
  </body>
</html>
